@use "../abstracts/mixins" as *;

.button {
	padding-inline: 16px;
	padding-block: 4px;

	border-radius: var(--brdr-rds);
	@include Button_Interact;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	font-weight: 600;

	a {
		text-decoration: none;
	}
}

.primary-button {
	background-color: var(--color-accent);
	border: 2px solid var(--color-accent);
	color: var(--color-light);

	a {
		color: var(--color-light);
	}
}

.secondary-button {
	background-color: transparent;
	border: 2px solid var(--color-accent);
	color: var(--color-accent);

	a {
		color: var(--color-accent);
	}

	&:hover {
		background-color: var(--color-accent);
		color: var(--color-light);

		a {
			color: var(--color-light);
		}
	}
}
