@use "../abstracts/mixins" as *;

.button {
	padding-inline: 8px;
	padding-block: 4px;

	border-radius: var(--brdr-rds);
	@include Button_Interact;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

    font-weight: 600;

	svg {
		width: 14px;
	}
}

.primary-button {
	background-color: var(--color-accent);
	color: var(--color-light);

	border: 2px solid var(--color-accent);
}

.secondary-button {

    padding-block: 8px;

	background-color: transparent;
	color: var(--color-accent);

	border: 2px solid var(--color-accent);
}
