@use "../abstracts/variables" as *;

.table {
	width: 100%;
	padding: 1rem;

	&__filter {
		border: 1px solid var(--color-gray);
		border-radius: var(--brdr-rds);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		gap: 1rem;

		padding-inline: 1rem;
		padding-block: 0.15rem;

		width: 256px;
		margin-bottom: 1rem;

		svg {
			width: 16px;
			color: var(--color-gray);
		}

		input {
			border: none;
			outline: none;
		}
	}

	&__table {
		border: 1px solid var(--color-gray);
		border-collapse: collapse;

		width: 100%;

		thead {
			background-color: #fafafa;

			tr {
				th {
					padding-block: 8px;
				}
			}
		}

		tbody {
			border: 1px solid var(--color-gray);

			tr {
				td {
					border-bottom: 1px solid var(--color-gray);
					text-align: center;
					padding-block: 8px;

					&:last-child {
						position: relative;
					}
				}
			}
		}

		&-actions {
			cursor: pointer;
			background: transparent;
			border: none;

			color: var(--color-dark);

			&:hover {
				color: var(--color-accent);
			}

			&-list {
				position: absolute;
				top: 1.5rem;
				left: 6.5rem;
				z-index: 5;

				ul {
					list-style-type: none;

					li {
						cursor: pointer;
						border: 1px solid var(--color-gray);
						border-bottom: none;
						background-color: white;

						padding: 0.25rem 0.5rem;

						&:last-child {
							border-bottom: 1px solid var(--color-gray);
						}

						&:hover {
							background-color: var(--color-gray);
						}
					}
				}
			}
		}
	}

	&__pagination{
		margin-block: 1rem;
		margin-left: auto;

		width: fit-content;

		display: flex;
		flex-direction: row;
		align-items: center;

		button{
			display: grid;
			place-items: center;
		}

		span{
			padding-inline: 1rem;
		}
	}
}
