.auth {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	animation: fade-up 800ms ease-in-out;

	overflow-y: hidden;

	&__logo {
		width: 100px;

		img {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 0.5rem;
	}

	&__description {
		margin-bottom: 2rem;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-block: 2rem;

		.button {
			margin-top: 1rem;
		}
	}

	&__input {
		border: 1px solid var(--color-gray);
		border-radius: var(--brdr-rds);

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		gap: 1rem;

		padding-inline: 1rem;
		padding-block: 0.15rem;

		margin-bottom: 0.5rem;

		svg {
			width: 16px;
			color: var(--color-dark);
			opacity: 0.5;
		}

		input {
			min-width: 256px;
			border: none;
			outline: none;
		}
	}

	&__actions {
		display: flex;
		flex-flow: column nowrap;

		text-align: end;
		width: 325px;

		a {
			color: var(--color-dark);
			opacity: 0.5;
			margin-bottom: 0.5rem;

			&:hover {
				opacity: 1;
			}
		}
	}
}
